<!doctype html>

<head>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.2.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='strftime-min.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery.dataTables.min.css') }}"></link>
</head>
<body>
    <title>Listener</title>
    <h1>Listener</h1>
    <div id="rdbTable">
    </div>
    <div>
        Toggle column:
        <a href="#" class="toggle-vis" data-column="0">Created</a> -
        <a href="#" class="toggle-vis" data-column="1">IP Address</a> -
        <a href="#" class="toggle-vis" data-column="2">Level Name</a> -
        <a href="#" class="toggle-vis" data-column="3">Pathname</a> -
        <a href="#" class="toggle-vis" data-column="4">Line Number</a> -
        <a href="#" class="toggle-vis" data-column="5">Function Name</a> -
        <a href="#" class="toggle-vis" data-column="7">Exception</a><br/>
    </div>
    <div style="padding-top: 0.5cm">
        <a href="#" id="refresh">Refresh log table</a>
    </div>
    <table id="logTable" class="page display">
    </table>
    <script type="text/javascript">
    function refresh_rdb_table() {
        $("#rdbTable").load(
            "/check-rdb",
            function() {
                $("button.remove").click(function(e) {
                    var clst = e.target.classList;
                    $.ajax("/rdb-done/" + clst[1]).done(function() {
                        refresh_rdb_table();
                    });
                });
                $("button.copy").click(function(e) {
                    var clst = e.target.classList;
                    console.log("/rdb-done/" + clst[1]);
                    $('textarea.copyable.' + clst[1]).select();
                    try {
                        if (!document.execCommand('copy')) {
                            console.log('Copying text command was unsuccessful');
                        }
                    } catch (err) {
                        console.log('Unable to copy');
                    }
                });
            }
        );
    }
    $(function() {
        refresh_rdb_table();
        setInterval(function() {
            refresh_rdb_table();
        }, 1000);   // refresh once per second

        var columns = [
            {data:'created', title:'Created', render:
                function(data, type, full, meta) {
                    data = parseFloat(data);
                    Date.prototype.stdTimezoneOffset = function() {
                        var jan = new Date(this.getFullYear(), 0, 1);
                        var jul = new Date(this.getFullYear(), 6, 1);
                        return Math.max(jan.getTimezoneOffset(),
                            jul.getTimezoneOffset());
                    }
                    return strftime(
                        '%H:%M:%S.%L',
                        new Date(parseFloat(
                            data - 60000 * new Date().stdTimezoneOffset()
                        ))
                    );
                },
             'visiblity': true},
            {data:'ipaddr', title:'IP Address'},
            {data:'levelname', title:'Level Name'},
            {data:'pathname', title:'Pathname'},
            {data:'lineno', title:'Line Number'},
            {data:'funcName', title:'Function Name'},
            {data:'msg', title:'Log Message', render:
                function(data, type, full, meta) {
                    return '<pre>' + data + '</pre>';
                }
            },
            {data:'exc_info', title:'Exception'},
        ];
        var table = $('#logTable').DataTable({
            ajax: '/get_logs',
            columns: columns
        });
        $('a.toggle-vis').click(function (e) {
            e.preventDefault();
            var column = table.column($(this).attr('data-column'));
            column.visible(!column.visible());
        });
        $('#refresh').click(function(e) {
            e.preventDefault();
            table.ajax.reload();
        });
    });
    </script>
</body>
